时间使用总结
- 时间戳
- UTC时间

# Pkgs

In [4]:
import numpy as np
import pandas as pd

import time
import datetime as dt

In [2]:
# 时间信息的输出
def show_time_info(a_time):
    print(a_time)
    print('数据类型：', type(a_time))
    print('-'*40)

# 转换
## 时间戳(float)<==>结构体时间(time.struct_time)

In [3]:
# 时间戳：time.time()返回当前时间戳
now_stamp = time.time()
show_time_info(now_stamp)

# time.localtime()将时间戳转换为struct_time
# 输出struct_time:包含年月日是分秒等
time_st = time.localtime(now_stamp)
show_time_info(time_st)
time_st2 = time.gmtime(now_stamp)
show_time_info(time_st2)

# time.mktime()将struct_time转换为时间戳
time_stamp = time.mktime(time_st)
show_time_info(time_stamp)

1706504628.2969348
数据类型： <class 'float'>
----------------------------------------
time.struct_time(tm_year=2024, tm_mon=1, tm_mday=29, tm_hour=13, tm_min=3, tm_sec=48, tm_wday=0, tm_yday=29, tm_isdst=0)
数据类型： <class 'time.struct_time'>
----------------------------------------
time.struct_time(tm_year=2024, tm_mon=1, tm_mday=29, tm_hour=5, tm_min=3, tm_sec=48, tm_wday=0, tm_yday=29, tm_isdst=0)
数据类型： <class 'time.struct_time'>
----------------------------------------
1706504628.0
数据类型： <class 'float'>
----------------------------------------

## 结构体时间(time.struct_time)<==>字符串(string)

In [5]:
# time.strptime()将字符串转换为struct_time
# %Y-%m-%d %H-%M-%S
time_st = time.strptime('2020-07-14', '%Y-%m-%d')
show_time_info(time_st)

# time.strftime()将struct_time转换为字符串
time_str = time.strftime('%Y-%m-%d %H:%M:%S', time_st)
show_time_info(time_str)

time.struct_time(tm_year=2020, tm_mon=7, tm_mday=14, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=1, tm_yday=196, tm_isdst=-1)
数据类型： <class 'time.struct_time'>
----------------------------------------
2020-07-14 00:00:00
数据类型： <class 'str'>
----------------------------------------

## 时间戳(float)<==>字符串(str)

In [8]:
# 时间戳
now_stamp = time.time()
show_time_info(now_stamp)

# 时间戳==>字符串
time_str = time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(now_stamp))
show_time_info(time_str)

# 字符串==>时间戳
time_stamp = time.mktime(time.strptime('2020-07-14', '%Y-%m-%d'))
show_time_info(time_stamp)

1706504845.1499178
数据类型： <class 'float'>
----------------------------------------
2024-01-29 13:07:25
数据类型： <class 'str'>
----------------------------------------
1594656000.0
数据类型： <class 'float'>
----------------------------------------

## 时间(datetime.datetime)<==>字符串(str)

In [9]:
# 时间格式(datetime.datetime)==>字符串(str)
time_dt = dt.datetime.now()
time_str = time_dt.strftime('%Y-%m-%d %H:%M:%S')
show_time_info(time_str)

# 字符串(str)==>时间格式(datetime.datetime)
time_dt = dt.datetime.strptime(time_str, '%Y-%m-%d %H:%M:%S')
show_time_info(time_dt)

# 时间戳(float)==>时间格式(datetime.datetime)
now_stamp = time.time()    # 获取float格式的当前时间 整数位为10位是以秒为单位，整数位为13位是以毫秒为单位
time_st = time.gmtime(now_stamp)    # 转成中间格式的时间结构体(time.struct_time) 
time_str = time.strftime('%Y-%m-%d %H:%M:%S', time_st)    # 再由中间格式转为字符串(str)
time_dt = dt.datetime.strptime(time_str, '%Y-%m-%d %H:%M:%S')    # 最后由字符串格式转为datetime.datetime格式
show_time_info(time_dt)

# 时间格式(datetime.datetime)==>时间戳(float)
time_dt = dt.datetime.utcnow()
time_str = time_dt.strftime("%Y-%m-%d %H:%M:%S")    #str类型的时间
time_st = time.strptime(time_str, '%Y-%m-%d %H:%M:%S')    #转为时间结构体
time_stamp = time.mktime(time_st)    # 转为时间戳
show_time_info(time_stamp)

2024-01-29 13:08:51
数据类型： <class 'str'>
----------------------------------------
2024-01-29 13:08:51
数据类型： <class 'datetime.datetime'>
----------------------------------------
2024-01-29 05:08:51
数据类型： <class 'datetime.datetime'>
----------------------------------------
1706476131.0
数据类型： <class 'float'>
----------------------------------------

# 时间计算

In [10]:
now_time = dt.datetime.now()
utc_time = dt.datetime.utcnow()

show_time_info(now_time)
show_time_info(utc_time)

2024-01-29 13:11:01.783199
数据类型： <class 'datetime.datetime'>
----------------------------------------
2024-01-29 05:11:01.783234
数据类型： <class 'datetime.datetime'>
----------------------------------------

## 加减时间单位

In [13]:
now_dt = dt.datetime.now()

show_time_info(now_dt)
show_time_info(now_dt + dt.timedelta(hours=10))
show_time_info(now_dt - dt.timedelta(days=1))
show_time_info(now_dt + dt.timedelta(days=2, hours=12))

2024-01-29 13:12:20.707876
数据类型： <class 'datetime.datetime'>
----------------------------------------
2024-01-29 23:12:20.707876
数据类型： <class 'datetime.datetime'>
----------------------------------------
2024-01-28 13:12:20.707876
数据类型： <class 'datetime.datetime'>
----------------------------------------
2024-02-01 01:12:20.707876
数据类型： <class 'datetime.datetime'>
----------------------------------------

## 时间戳计算

In [14]:
now_stamp = time.time()
now_dt = dt.datetime.now()

show_time_info(now_stamp)
show_time_info(now_dt)
show_time_info(now_dt - dt.timedelta(days=now_stamp/(24*60*60)))

1706505246.952966
数据类型： <class 'float'>
----------------------------------------
2024-01-29 13:14:06.953002
数据类型： <class 'datetime.datetime'>
----------------------------------------
1970-01-01 08:00:00.000036
数据类型： <class 'datetime.datetime'>
----------------------------------------

# 场景
## DF文本时间-列转换为时间格式

## 时间的差距天数

## 构建时间序列

## fake数据-包含各种类型的时间-测试用

In [7]:
fake_date_list = {
    'start_date': ['20230131', '20231031', '20240101'],
    'end_date': ['20230331', '20231231', '20240110'],
    'type1_date': ['2023-01-31', '2023-12-31', '2024-01-10'],
    'type2_date': ['2023-01-31 12:30:59', '2023-12-31 12:30:59', '2024-01-10 12:30:59'],
    'mix_date': ['20230131', '2023-12-31', '2024-01-10 12:30:59']
    }

date_df = pd.DataFrame(fake_date_list)
date_df.head()

  start_date  end_date  type1_date           type2_date             mix_date
0   20230131  20230331  2023-01-31  2023-01-31 12:30:59             20230131
1   20231031  20231231  2023-12-31  2023-12-31 12:30:59           2023-12-31
2   20240101  20240110  2024-01-10  2024-01-10 12:30:59  2024-01-10 12:30:59

## 分区-常用时间分区

In [11]:
now = dt.datetime.now()
# 时间分区
biz_date = dt.datetime.now()-dt.timedelta(days=1)                # 昨天
biz_date_7days_ago = dt.datetime.now()-dt.timedelta(days=8)      # 7天前
biz_date_30days_ago = dt.datetime.now()-dt.timedelta(days=31)    # 30天前

# 将日期转化为字符串
str_time = now.strftime("%Y%m%d")
str_biz_date = biz_date.strftime("%Y-%m-%d")           # 系统不同，时间分区格式不同，实际中区分

print("now：转化后的时间字符串为：", str_time)
print("biz_date：转化后的时间字符串为：", str_biz_date)

now：转化后的时间字符串为： 20240202
biz_date：转化后的时间字符串为： 2024-02-01